@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --test: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select, textarea, input {
    font-size: 16px;
  }
}
